.header {
    position: sticky;
    top: -1px;
    background-color: #FFF;
    transition: all 0.3s ease;
}
.sticky {
    position: sticky;
    top: -1px;
    transition: all 0.3s ease;
    background-color: #FFFFFF;
}

.sticky .headerContainer .headerTop {
    transition: padding 0.3s ease;
    display: flex;
    justify-content: end;
    padding: 1.200rem 0 1.200rem 0;
    max-width: 1160px;
    margin: 0 auto;
    overflow: hidden;
}

header .headerContainer .headerTop {
    transition: padding 0.3s ease;
    display: flex;
    justify-content: end;
    padding: 1.875rem 0 1.59375rem 0;
    max-width: 1160px;
    margin: 0 auto;
    overflow: hidden;
}


@media(max-width:1280px) {
    .sticky > .headerContainer .headerTop,
    header .headerContainer .headerTop {
        padding: 1.875rem 1.2rem 1.59375rem 1.2rem;
    }
}

@media(max-width: 768px) {
    .sticky .headerContainer .headerTop,
    header .headerContainer .headerTop {
        overflow: inherit;
    }
}

header .headerContainer .headerTop .blockInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.375rem;
    max-width: 41.875rem;
    width: 100%;
    position: relative;
}

header .headerContainer .headerTop .blockInfo .searchBlock {
    position: absolute;
    top: -0.5rem;
    right: -200%;
    background: #FFFFFF;
    border: 0.0625rem solid #E9E9E9;
    width: 11rem;
    height: max-content;
    height: 2.8rem;
    width: 17.75rem;
    border-radius: 1.75rem;
    transition: all 0.3s ease;
}   

@media(max-width: 768px) {
    header .headerContainer .headerTop .blockInfo .searchBlock {
        top: 3.5rem;
        right: 0;
        height: 0;
        border: 0;
    }

    header .headerContainer .headerTop .blockInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        max-width: 41.875rem;
        width: 100%;
        position: relative;
    }
    
}

header .headerContainer .headerTop .blockInfo .searchBlock.active {
    right: 1.375rem;
}
@media(max-width: 768px) {
    header .headerContainer .headerTop .blockInfo .searchBlock.active {
        right: 0;
        border: 0.0625rem solid #E9E9E9;
        height: 2.8rem;
    }
}

header .headerContainer .headerTop .blockInfo .searchBlock input {
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
    padding: 0 0.625rem;
    right: -200%;
}

header .headerContainer .headerTop .blockInfo .openNav {
    display: none;
    width: 25px;
    height: 16.77px;
    background-image: url('../../../public/images/project/open.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media(max-width: 768px) {
    header .headerContainer .headerTop .blockInfo .openNav {
        display: block;
        width: 25px;
        height: 16.77px;
        background-image: url('../../../public/images/project/open.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

header .headerContainer .headerTop .blockInfo .logo {
    width: 11.301875rem;
    height: 1.6625rem;
    background-image: url('../../../public/images/project/Logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

@media(max-width: 768px) {
    header .headerContainer .headerTop .blockInfo .logo {
        width: 10.188rem;
        height: 1.5rem;
        background-image: url('../../../public/images/project/Logo.png');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
}

header .headerContainer .headerTop .blockInfo .search {
    width: 1rem;
    height: 1rem;
    background-image: url('../../../public/images/project/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 2;
}

header .headerContainer .headerBottom {
    /* padding: 1.34375rem 0 1.25rem 0; */
    border-top: 0.0625rem solid #E9E9E9;
    border-bottom: 0.0625rem solid #E9E9E9;
}

header .headerContainer .headerBottom nav {
    max-width: 1160px;
    margin: 0 auto;
}

@media(max-width: 768px) {
    header .headerContainer .headerBottom nav {
        transition: all 0.3s ease;
        position: fixed;
        left: -200%;
        top: 0;
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #FFF;
        border-right: 1px solid #E9E9E9;
    }
    header .headerContainer .headerBottom nav.active {
        left: 0;
    }
}

header .headerContainer .headerBottom nav .nav_items {
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media(max-width: 768px) {
    header .headerContainer .headerBottom nav .nav_items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    }
}

header .headerContainer .headerBottom nav .navTop .closeNav {
    width: 18.36px;
    height: 18.36px;
    background-image: url('../../../public/images/project/x.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
@media(max-width: 768px) {
    header .headerContainer .headerBottom nav .navTop .closeNav {
        width: 18.36px;
        height: 18.36px;
        background-image: url('../../../public/images/project/x.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }
    header .headerContainer .headerBottom nav .navTop {
        width: 100%;
        height: 80px;
        border-bottom: 0.0625rem solid #E9E9E9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.875rem 1.25rem 1.875rem 1.25rem;
    }

    header .headerContainer .headerBottom nav .navTop .navLogo {
        width: 11.301875rem;
        height: 1.6625rem;
        background-image: url('../../../public/images/project/Logo.png');
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
}

header .headerContainer .headerBottom nav .nav_items .nav_item a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #000000;
}

header .headerContainer .headerBottom nav .nav_items .nav_item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #000000;
    font-weight: 500;
    line-height: 1rem;
    height: 3.75rem;
}
@media(max-width: 768px) {
    header .headerContainer .headerBottom nav .nav_items .nav_item {
        width: 100%;
        height: 2.5rem;
        border-bottom: 0.0625rem solid #E9E9E9;
    }
    header .headerContainer .headerBottom nav .nav_items .nav_item:last-child {
        border-bottom: 0;
    }
}
header .headerContainer .headerBottom nav .nav_items .nav_item .subMenu {
    position: absolute;
    top: 3.7rem;
    left: 0;
    background: #FFFFFF;
    border: 0.0625rem solid #E9E9E9;
    width: 11rem;
    height: max-content;
    padding: 1.25rem;
    display: none;
}

@media(max-width: 768px) {
    header .headerContainer .headerBottom nav .nav_items .nav_item .subMenu {
        display: none;
        top: 0;
        width: 100%;
        z-index: 2;
        height: max-content;
        margin: 39px 0 0 0;
    }
}

header .headerContainer .headerBottom nav .nav_items .nav_item .subMenu ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

header .headerContainer .headerBottom nav .nav_items .nav_item .subMenu ul li a {
    height: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #E9E9E9;
    color: #000000;
    font-size: 0.8125rem;
    transition: all 0.3s ease;
}
@media(min-width: 1281px) {
    header .headerContainer .headerBottom nav .nav_items .nav_item .subMenu ul li a:hover {
        color: #969696;
        padding-left: 0.5rem;
    }
    header .headerContainer .headerBottom nav .nav_items .nav_item:hover > .subMenu {
        display: flex;
    }
}
@media(max-width: 1280px) {
    header .headerContainer .headerBottom nav .nav_items .nav_item > .subMenu.active {
        display: flex;
    }
}


